.dropdownContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin-top: 0.5rem;
  color: #0f1f38;
  background-color: #2d5088;
  border-radius: 0.5rem;
  box-shadow: 0 8px 24px rgb(0, 0, 0, 0.2);
  overflow-y: scroll;
  scrollbar-width: none;
  max-height: 40vh;
  opacity: 0;
  font-weight: 700;
  position: absolute;
  width: 160px;
  z-index: 5;
  font-size: 18px;
}

.dropdownContent::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.contentOpen {
  opacity: 1;
}
